<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f1f1f1;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""></a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'update_user' request.user.id %}">Update Profile/User</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        <span class="navbar-text">
            {% if request.user.is_authenticated %}
            <small>Logged in as <b>{{ request.user.name }}</b></small>
                <a href="{% url 'logout' %}"><input type="button" value="Logout" style="background-color: rgb(46, 158, 192);color: white;"></a>
            {% else %}
                <a href="{% url 'login' %}"><input type="button" value="Login" style="background-color: rgb(46, 158, 192);color: white;"></a>

            {% endif %}

        </span>
      </div>
    </div>
  </nav>


